<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editing</title>
</head>

<body>
    <h1>Edit a <%= flowerDoc.commonName %>!</h1>
    <p style="font-size:100px">🌸🌺🌻🌼🌷</p>
    
    <form method="POST" action="/flowers/<%= flowerDoc._id %>?_method=PUT">
        <div>
            <label for="species">Species:</label>
            <input type="text" name="species" id="species" value="<%= flowerDoc.species %>" />
        </div>
        <div>
            <label for="commonName">Common Name:</label>
            <input type="text" name="commonName" id="commonName" value="<%= flowerDoc.commonName %>" />
        </div>
        <div>
            <label for="isPerfect">Is this a "perfect" flower</label>
            <input type="checkbox" name="isPerfect" id="isPerfect" <%= flowerDoc.isPerfect ? 'checked' : '' %> />
        </div>
        <div>
            <label for="image">Image Link (if available)</label>
            <input type="text" name="image" id="image" value="<%= flowerDoc.image %>" />
        </div>
        <button type="submit">Submit Edits</button>
    </form>
</body>

</html>
